name: C++ Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Compile C++ project
      run: |
        g++ -std=c++17 main.cpp -o book_manager

    - name: Run program
      run: |
        ./book_manager
