name: C++ Build CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Compile all C++ files
      run: |
        g++ -std=c++17 $(find . -name "*.cpp") -o book_manager
